@import "../../styles/mixin";
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 32px;
}
.increment-control {
  display: flex;
  flex-direction: column;
}
.increment-control_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  border-radius: var(--RADIUS-MEDUIM);
  border: solid black;
  padding: var(--SPACE-LARGE);
  font-size: 24px;
  margin: 10px auto;
  background-color: var(--BACKGROUND-COLOR);
  @include _320 {
    font-size: 20px;
  }
}
.start-button,
.cancel-button,
.settings-button {
}
.cancel-button {
}
.settings-button {
  //margin:
}
.setRounds-form {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50%);
}
.setRounds-form_input {
}
.setRounds-form_button {
}
.incrementRounds-control_buttons {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
