.timer .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.increment-control {
  display: flex;
  flex-direction: column;
}
.increment-control_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
button {
  border-radius: var(--RADIUS-MEDUIM);
  border: solid black;
  padding: var(--SPACE-SMALL);
  margin: 5px;
  background-color: var(--BACKGROUND-COLOR);
}
.start-button {
}
.cancel-button {
}
.settings-button {
  //margin:
}
.setRounds-form {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 50%);
}
.setRounds-form_input {
}
.setRounds-form_button {
}
.incrementRounds-control_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}
