.timer .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.increment-control {
  display: flex;
  flex-direction: column;
}
.increment-control_buttons .setRounds-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
