@use "./media_mixin.scss" as m;

$background-color: #edf1ff;
$body-color: #282d3c;
.root,
.settings {
  width: 100%;
  height: 100%;
  border: solid #2248b9;

  @include m._768 {
    background-color: purple;
  }
  @include m._375 {
    background-color: maroon !important;
  }
}
.wrapper {
  padding: 5px;
}
html,
body {
  width: 100%;
  color: $body-color;
  background-color: $background-color;
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
