@import "./media_mixin.scss";

$background-color: #edf1ff;
$body-color: #282d3c;
.root,
.settings {
  width: 100%;
  height: 100%;
  border: solid #282d3c;

  @include _768 {
    background-color: purple;
  }
  @include _375 {
    background-color: maroon;
  }
}
.wrapper {
  padding: 5px;
}
html,
body {
  width: 100%;
  color: $body-color;
  background-color: $background-color;
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  @include _768 {
    background-color: purple;
  }
  @include _375 {
    background-color: black;
  }
}
